# https://github.com/gabibdods/NewRepositoryTemplate:
*

!.gitattributes
!.gitignore
!README.md
!License/
!License/LICENSE.md
!License/NOTICE.md


# particular repository ignores:

!.terraform.lock.hcl
!main.tf
!docker-compose.yaml
!variables.tf

!.github/
!.github/workflows/
!.github/workflows/deploy.yml

!desktop/
!desktop/package.json
!desktop/package-lock.json
!desktop/tsconfig.json

!desktop/src/
!desktop/src/index.ts

!fastapi/
!fastapi/Dockerfile
!fastapi/*.py
!fastapi/requirements.txt