# https://github.com/gabibdods/NewRepositoryTemplate:
*

!.gitattributes
!.gitignore
!.gitlab-ci.yml
!README.md

!.gitlab/
!.gitlab/sast-ruleset.toml

!License/
!License/LICENSE.md
!License/NOTICE.md


# particular repository ignores:

!.terraform.lock.hcl
!main.tf
!docker-compose.yaml

!.github/
!.github/workflows/
!.github/workflows/deploy.yml

!desktop/
!desktop/package.json
!desktop/package-lock.json
!desktop/tsconfig.json

!desktop/src/
!desktop/src/index.ts

!fastapi/
!fastapi/Dockerfile
!fastapi/*.py
!fastapi/requirements.txt

!proxy/
!proxy/app.js
!proxy/package.json
!proxy/package-lock.json

!proxy/bin/
!proxy/bin/www

!proxy/public/
!proxy/public/index.js

!proxy/public/stylesheets/
!proxy/public/stylesheets/style.css

!proxy/routes/
!proxy/routes/index.js
!proxy/routes/users.js
