*

!.gitignore
!README.md

!backend/
!backend/*

!fastapi/
!fastapi/*.py
!fastapi/*.pdf

!infrastructure/
!infrastructure/docker-compose.yaml
!infrastructure/*.tf

!.github/
!.github/workflows/
!.github/workflows/deploy.yml